<div class="j1 m-5">

  <h2 class="text-xl mx-5">Jornada 4</h2>

<div class="grid grid-cols-2">

<form class="m-5 mb-1 flex justify-center items-center" [formGroup]="p1" (ngSubmit)="enviar()" autocomplete="off">

  <img src="{{partidosj4[0].localimg}}" class="equipoesc" alt="">

    <label #local class="mx-4 w-24">{{partidosj4[0].local}}</label>

    <input formControlName="local" class="w-9 text-xs text-black p-1 text-center" type="number" placeholder="0">

    <span class="mx-5">-</span>

    <input formControlName="visitante" class="w-9 text-xs text-black p-1 text-center" type="number" placeholder="0">

    <label #visitante class="mx-4 w-24">{{partidosj4[0].visitante}}</label>
<img src="{{partidosj4[0].visitanteimg}}" class="equipoesc" alt="">

</form>

<form class="m-5 mb-1 flex justify-center items-center" [formGroup]="p2" (ngSubmit)="enviar()" autocomplete="off">

  <img src="{{partidosj4[1].localimg}}" class="equipoesc" alt="">

    <label #local class="mx-4 w-24">{{partidosj4[1].local}}</label>

    <input formControlName="local" class="w-9 text-xs text-black p-1 text-center" type="number" placeholder="0">

    <span class="mx-5">-</span>

    <input formControlName="visitante" class="w-9 text-xs text-black p-1 text-center" type="number" placeholder="0">

    <label #visitante class="mx-4 w-24">{{partidosj4[1].visitante}}</label>
<img src="{{partidosj4[1].visitanteimg}}" class="equipoesc" alt="">

</form>

<form class="m-5 mb-1 flex justify-center items-center" [formGroup]="p3" (ngSubmit)="enviar()" autocomplete="off">

  <img src="{{partidosj4[2].localimg}}" class="equipoesc" alt="">

    <label #local class="mx-4 w-24">{{partidosj4[2].local}}</label>

    <input formControlName="local" class="w-9 text-xs text-black p-1 text-center" type="number" placeholder="0">

    <span class="mx-5">-</span>

    <input formControlName="visitante" class="w-9 text-xs text-black p-1 text-center" type="number" placeholder="0">

    <label #visitante class="mx-4 w-24">{{partidosj4[2].visitante}}</label>
<img src="{{partidosj4[2].visitanteimg}}" class="equipoesc" alt="">

</form>



<form class="m-5 mb-1 flex justify-center items-center" [formGroup]="p4" (ngSubmit)="enviar()" autocomplete="off">

  <img src="{{partidosj4[3].localimg}}" class="equipoesc" alt="">

    <label #local class="mx-4 w-24">{{partidosj4[3].local}}</label>

    <input formControlName="local" class="w-9 text-xs text-black p-1 text-center" type="number" placeholder="0">

    <span class="mx-5">-</span>

    <input formControlName="visitante" class="w-9 text-xs text-black p-1 text-center" type="number" placeholder="0">

    <label #visitante class="mx-4 w-24">{{partidosj4[3].visitante}}</label>
<img src="{{partidosj4[3].visitanteimg}}" class="equipoesc" alt="">

</form>

<form class="m-5 mb-1 flex justify-center items-center" [formGroup]="p5" (ngSubmit)="enviar()" autocomplete="off">

  <img src="{{partidosj4[4].localimg}}" class="equipoesc" alt="">

    <label #local class="mx-4 w-24">{{partidosj4[4].local}}</label>

    <input formControlName="local" class="w-9 text-xs text-black p-1 text-center" type="number" placeholder="0">

    <span class="mx-5">-</span>

    <input formControlName="visitante" class="w-9 text-xs text-black p-1 text-center" type="number" placeholder="0">

    <label #visitante class="mx-4 w-24">{{partidosj4[4].visitante}}</label>
<img src="{{partidosj4[4].visitanteimg}}" class="equipoesc" alt="">

</form>

<form class="m-5 mb-1 flex justify-center items-center" [formGroup]="p6" (ngSubmit)="enviar()" autocomplete="off">

  <img src="{{partidosj4[5].localimg}}" class="equipoesc" alt="">

    <label #local class="mx-4 w-24">{{partidosj4[5].local}}</label>

    <input formControlName="local" class="w-9 text-xs text-black p-1 text-center" type="number" placeholder="0">

    <span class="mx-5">-</span>

    <input formControlName="visitante" class="w-9 text-xs text-black p-1 text-center" type="number" placeholder="0">

    <label #visitante class="mx-4 w-24">{{partidosj4[5].visitante}}</label>
<img src="{{partidosj4[5].visitanteimg}}" class="equipoesc" alt="">

</form>

<form class="m-5 mb-1 flex justify-center items-center" [formGroup]="p7" (ngSubmit)="enviar()" autocomplete="off">

  <img src="{{partidosj4[6].localimg}}" class="equipoesc" alt="">

    <label #local class="mx-4 w-24">{{partidosj4[6].local}}</label>

    <input formControlName="local" class="w-9 text-xs text-black p-1 text-center" type="number" placeholder="0">

    <span class="mx-5">-</span>

    <input formControlName="visitante" class="w-9 text-xs text-black p-1 text-center" type="number" placeholder="0">

    <label #visitante class="mx-4 w-24">{{partidosj4[6].visitante}}</label>
<img src="{{partidosj4[6].visitanteimg}}" class="equipoesc" alt="">

</form>

<form class="m-5 mb-1 flex justify-center items-center" [formGroup]="p8" (ngSubmit)="enviar()" autocomplete="off">

  <img src="{{partidosj4[7].localimg}}" class="equipoesc" alt="">

    <label #local class="mx-4 w-24">{{partidosj4[7].local}}</label>

    <input formControlName="local" class="w-9 text-xs text-black p-1 text-center" type="number" placeholder="0">

    <span class="mx-5">-</span>

    <input formControlName="visitante" class="w-9 text-xs text-black p-1 text-center" type="number" placeholder="0">

    <label #visitante class="mx-4 w-24">{{partidosj4[7].visitante}}</label>
<img src="{{partidosj4[7].visitanteimg}}" class="equipoesc" alt="">

</form>

<form class="m-5 mb-1 flex justify-center items-center" [formGroup]="p9" (ngSubmit)="enviar()" autocomplete="off">

  <img src="{{partidosj4[8].localimg}}" class="equipoesc" alt="">

    <label #local class="mx-4 w-24">{{partidosj4[8].local}}</label>

    <input formControlName="local" class="w-9 text-xs text-black p-1 text-center" type="number" placeholder="0">

    <span class="mx-5">-</span>

    <input formControlName="visitante" class="w-9 text-xs text-black p-1 text-center" type="number" placeholder="0">

    <label #visitante class="mx-4 w-24">{{partidosj4[8].visitante}}</label>
<img src="{{partidosj4[8].visitanteimg}}" class="equipoesc" alt="">

</form>

<form class="m-5 mb-1 flex justify-center items-center" [formGroup]="p10" (ngSubmit)="enviar()" autocomplete="off">

  <img src="{{partidosj4[9].localimg}}" class="equipoesc" alt="">

    <label #local class="mx-4 w-24">{{partidosj4[9].local}}</label>

    <input formControlName="local" class="w-9 text-xs text-black p-1 text-center" type="number" placeholder="0">

    <span class="mx-5">-</span>

    <input formControlName="visitante" class="w-9 text-xs text-black p-1 text-center" type="number" placeholder="0">

    <label #visitante class="mx-4 w-24">{{partidosj4[9].visitante}}</label>
<img src="{{partidosj4[9].visitanteimg}}" class="equipoesc" alt="">

</form>

<form class="m-5 mb-1 flex justify-center items-center" [formGroup]="p11" (ngSubmit)="enviar()" autocomplete="off">

  <img src="{{partidosj4[10].localimg}}" class="equipoesc" alt="">

    <label #local class="mx-4 w-24">{{partidosj4[10].local}}</label>

    <input formControlName="local" class="w-9 text-xs text-black p-1 text-center" type="number" placeholder="0">

    <span class="mx-5">-</span>

    <input formControlName="visitante" class="w-9 text-xs text-black p-1 text-center" type="number" placeholder="0">

    <label #visitante class="mx-4 w-24">{{partidosj4[10].visitante}}</label>
<img src="{{partidosj4[10].visitanteimg}}" class="equipoesc" alt="">

</form>

<form class="m-5 mb-1 flex justify-center items-center" [formGroup]="p12" (ngSubmit)="enviar()" autocomplete="off">

  <img src="{{partidosj4[11].localimg}}" class="equipoesc" alt="">

    <label #local class="mx-4 w-24">{{partidosj4[11].local}}</label>

    <input formControlName="local" class="w-9 text-xs text-black p-1 text-center" type="number" placeholder="0">

    <span class="mx-5">-</span>

    <input formControlName="visitante" class="w-9 text-xs text-black p-1 text-center" type="number" placeholder="0">

    <label #visitante class="mx-4 w-24">{{partidosj4[11].visitante}}</label>
<img src="{{partidosj4[11].visitanteimg}}" class="equipoesc" alt="">

</form>

<form class="m-5 mb-1 flex justify-center items-center" [formGroup]="p13" (ngSubmit)="enviar()" autocomplete="off">

  <img src="{{partidosj4[12].localimg}}" class="equipoesc" alt="">

    <label #local class="mx-4 w-24">{{partidosj4[12].local}}</label>

    <input formControlName="local" class="w-9 text-xs text-black p-1 text-center" type="number" placeholder="0">

    <span class="mx-5">-</span>

    <input formControlName="visitante" class="w-9 text-xs text-black p-1 text-center" type="number" placeholder="0">

    <label #visitante class="mx-4 w-24">{{partidosj4[12].visitante}}</label>
<img src="{{partidosj4[12].visitanteimg}}" class="equipoesc" alt="">

</form>

<form class="m-5 mb-1 flex justify-center items-center" [formGroup]="p14" (ngSubmit)="enviar()" autocomplete="off">

  <img src="{{partidosj4[13].localimg}}" class="equipoesc" alt="">

    <label #local class="mx-4 w-24">{{partidosj4[13].local}}</label>

    <input formControlName="local" class="w-9 text-xs text-black p-1 text-center" type="number" placeholder="0">

    <span class="mx-5">-</span>

    <input formControlName="visitante" class="w-9 text-xs text-black p-1 text-center" type="number" placeholder="0">

    <label #visitante class="mx-4 w-24">{{partidosj4[13].visitante}}</label>
<img src="{{partidosj4[13].visitanteimg}}" class="equipoesc" alt="">

</form>

<form class="m-5 mb-1 flex justify-center items-center" [formGroup]="p15" (ngSubmit)="enviar()" autocomplete="off">

  <img src="{{partidosj4[14].localimg}}" class="equipoesc" alt="">

    <label #local class="mx-4 w-24">{{partidosj4[14].local}}</label>

    <input formControlName="local" class="w-9 text-xs text-black p-1 text-center" type="number" placeholder="0">

    <span class="mx-5">-</span>

    <input formControlName="visitante" class="w-9 text-xs text-black p-1 text-center" type="number" placeholder="0">

    <label #visitante class="mx-4 w-24">{{partidosj4[14].visitante}}</label>
<img src="{{partidosj4[14].visitanteimg}}" class="equipoesc" alt="">



</form>

<form class="m-5 mb-1 flex justify-center items-center" [formGroup]="p16" (ngSubmit)="enviar()" autocomplete="off">

  <img src="{{partidosj4[15].localimg}}" class="equipoesc" alt="">

    <label #local class="mx-4 w-24">{{partidosj4[15].local}}</label>

    <input formControlName="local" class="w-9 text-xs text-black p-1 text-center" type="number" placeholder="0">

    <span class="mx-5">-</span>

    <input formControlName="visitante" class="w-9 text-xs text-black p-1 text-center" type="number" placeholder="0">

    <label #visitante class="mx-4 w-24">{{partidosj4[15].visitante}}</label>
<img src="{{partidosj4[15].visitanteimg}}" class="equipoesc" alt="">


  </form>
</div>
<button (click)="enviar()" type="submit" class="m-5 bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded">Enviar</button>
</div>
