<div class="title flex justify-center items-center">

  <img srcset="../../assets/logo.png" src="" alt="" class="cursor-pointer logo mx-3" routerLink="/dashboard/home">

  <h1 class="text-3xl my-6 text-white font-medium">SORTEO CHAMPIONS LEAGUE 23/24</h1>
</div>

<nav class="text-center bg-blue-950 p-3">
  <a class="mx-3 text-white font-semibold text-lg hover:underline" routerLink="/dashboard/sorteo" (click)="crearSorteo()">CREAR SORTEO</a>

  <a class="mx-3 text-white font-semibold text-lg hover:underline" routerLink="/dashboard/ver-bombos">VER BOMBOS</a>

  <a class="mx-3 text-white font-semibold text-lg hover:underline" routerLink="/dashboard/ver-equipos">VER EQUIPOS</a>
</nav>

<section>
  <router-outlet></router-outlet>
</section>

<footer>

</footer>
