@tailwind base;
@tailwind components;
@tailwind utilities;

html, body{
  background-color: rgb(21, 50, 180);
}

*{
  color: white;
}

.bg-home{
  width: 100%;
}

.logo{
  height: 60px;
  transition: all 0.2s;
}

.logo:hover{
  width: 2rem;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.equipoesc{
  width: 40px;
  height: 40px;
}

.equipoOctavos{
  width: 30px;
  height: 30px;
}

.clasifico{
  transition: all 0.3s;
  font-size: 15px;
  font-weight: 500;
}

.imgclasifico{
  width: 55px  !important;
  height: 55px !important;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
